.leaflet-container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.chat-box {
  right: 100px;
  background: red;
  min-width: 400px;
  min-height: 300px;
  position: absolute;
  top: 40px;
  z-index: 999;
  display: flex;
}

.dialog-selecting-coordinates {
  display: block;
  position: absolute;
  top: 18px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  color: black;
  font-size: 27px;
  z-index: 999;
  margin: auto;
  left: 10%;
}